<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    {{>header}}
    <img src="/img/71tBcc4M4yL._AC_SY450_.jpg">
    {{>footer}}
</body>



</html>